@font-face {
    font-family: 'Inter';
    src: url('/moscow/public/assets/fonts/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/moscow/public/assets/fonts/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--text-color);
}

h1{
    font-family: var(--font-medium);
    font-weight: var(--weight-medium);
    font-size: 6rem;
    color: var(--secondary-color);
    line-height: 1.2;
}

a {
    color: var(--link);
    text-decoration: none;
}

/* Buttons */

.btn-primary,
.btn-secondary {
    font-family: var(--font-bold);
    font-weight: var(--weight-bold);
    font-size: 1rem;
}

.btn-primary:disabled {
    color: var(--btn-text-color-disable-primary);
}

.btn-secondary {
    color: var(--btn-text-color-default-secondary);
}

.btn-secondary:disabled {
    color: var(--btn-text-color-disable-secondary);
}

.btn-secondary .black {
    color: var(--btn-text-color-default-secondary-black);
}

.btn-secondary .black:disabled {
    color: var(--btn-text-color-disable-secondary-black);
}

.toggle-btn {
    font-family: var(--font-semibold);
    font-weight: var(--weight-semibold);
    font-size: 1rem;
    color: var(--text-color);
}

.toggle-btn:disabled {
    color: var(--toggle-btn-disable);
}

/* Modals */


/* Header */

.logo-container span {
    text-align: start;
}

.location a:active .path-fill {
    fill: var( --contact-info-click);
    stroke: var( --contact-info-click);
}

.location a.disabled .path-fill {
    fill: var(--contact-info-disable);
    stroke: var(--contact-info-disable);

    cursor: not-allowed;
}

.location a.disabled .path-stroke {
    stroke: var( --contact-info-click);
}

.location a {
    font-family: var(--font-semibold);
    font-weight: var(--weight-semibold);
    font-size: 1.25rem;
    text-decoration: underline dotted;
    text-underline-offset: 6px;
    text-underline-position: below;
}

.location a:not(.disabled):hover {
    text-decoration: none;
}

.location a:active {
    color: var(--contact-info-click);
}

.location a.disabled {
    color: var(--contact-info-disable);

    cursor: not-allowed;
}

.email a:first-of-type {
    font-family: var(--font-bold);
    font-weight: var(--weight-bold);
    font-size: 1.5rem;
}

.email a:last-of-type {
    font-family: var(--font-medium);
    font-weight: var(--weight-medium);
    font-size: 1rem;
}

.email a:active {
    color: var(--contact-info-click);
}

.email a.disabled {
    color: var(--contact-info-disable);
}

.header-main-content {
    text-align: left;
}

.main-content-wraper p {
    font-size: 1.5rem;
}

.text-wrapper p {
    font-size: 1.5rem;
}

.text-wrapper p a{
    color: #2F80ED;
}

.text-wrapper p a:hover{
    text-decoration: underline;
}

.car-info {
    text-align: left;
}

.car-info-item span{
    font-family: var(--font-medium);
    font-weight: var(--weight-medium);
    font-size: 4rem;
}

.car-info-item p{
    font-size: 1.5rem;
    word-wrap: break-word;
}