.about-company {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    padding-right: 6rem;
    padding-left: 6rem;
}

.about-company-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.about-company-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    max-width: 991px;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.about-company-text h3,
.about-company-awards h3 {
    margin-bottom: 3rem;
}

.about-company-text p{
    max-width: 991px;
    margin-bottom: 3rem;
}

.about-company-advantages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
}

.about-company-advantages>* {
    flex-grow: 1;
}

.about-company-awards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;

    max-width: 524px;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.awards-slider .awards-slider-content:not(:first-child) {
    margin-top: 2rem;
}

.awards-slider-content p {
    margin-left: 2rem;
}

.awards-slider-content::before {
    content: url(/moscow/public/assets/images/about-company/file-icon.svg);
    vertical-align: text-top;
}

@media (max-width: 1440px) {
    .about-company-text {
        max-width: 657px;
    }

    .about-company-awards {
        max-width: 378px;
    }
}

@media (max-width: 1280px) {
    .about-company {
        padding-right: 4rem;
        padding-left: 4rem;
    }

    .about-company-text {
        max-width: 529px;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .about-company-awards {
        max-width: 465px;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

@media (max-width: 1000px) {
    .about-company {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    .about-company-text h3,
    .about-company-awards h3 {
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 768px) {
    .about-company-container {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .about-company-text {
        max-width: 672px;
        padding-bottom: 2rem;
    }

    .about-company-awards {
        max-width: 672px;
        padding-bottom: 6rem;
    }
}

@media (max-width: 489px) {
    .about-company {
        margin: 0 0.5rem 0 0.5rem;
        padding: 0 1rem 0 1rem;
    }

    .about-company-text,
    .about-company-awards {
        padding: 1.5rem 0 1.5rem 0;
    }

    .about-company-text h3,
    .about-company-awards h3 {
        margin-bottom: 1rem;
    }

    .about-company-text p {
        margin-bottom: 1.5rem;
    }

    .about-company-advantages {
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .advantage-item p {
        margin-bottom: 0;
    }
}