.transport {
    margin: 0 1.5rem 0 1.5rem;
    padding: 6rem 0 6rem;
}

.transport-card-goods {
    display: flex;
    justify-content: end;
    align-items: center;
    align-content: center;
    gap: 1rem;
}

.transport-card-goods-passanger img,
.transport-card-goods-luggage img{
    vertical-align:text-top;
}

.transport-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-gap: 4.5rem;
    
    padding-right: 4rem;
    padding-left: 4rem;
}

.transport h2 {
    margin-bottom: 3.5rem;
    padding-left: 6rem;
}

.transport-card {
    display: flex;
    flex-direction: column;

    margin: 1.5rem;
    cursor: pointer;
}

.transport-img {
    max-width: 332px;
    max-height: auto;
}

.transport-description {
    max-width: 332px;
}

.transport-price span:first-child {
    vertical-align: text-top;
}